<div class="container bg">
    <div *ngIf="eveent$ | async as eveent" class="descricao">
          <div class="headerPages">
                  <h1><a  (click)="goEveent(eveent)">Events</a></h1>
                  <img src="../assets/img/events.jpg">
                  <h2>Lista dos Melhores Events</h2>
          </div><!--headerPages-->
          <div class="containerPostDetalhes d-flex">
                  <div class="thumbConteudoPost">
                        <img class="img-thumbnail" src={{eveent.thumbnail.path}}.{{eveent.thumbnail.extension}}>
                  </div>
                  <div class="conteudoPostDetalhes">
                        <h1>{{ eveent.title }}</h1>
                        <div class="d-flex  justify-content-between">
                        <h3>{{eveent.variantDescription}}</h3> 
                        Total de Paginas: {{eveent.pageCount}}
                        </div>
                    <hr/>
                    {{eveent.description}}
                 
                    <button class="button-text" (click)="goEveent(eveent)">Voltar</button>
                  </div>
                  
            </div>
    </div><!--ngIf-->
</div><!--container bg-->