<div class="container bg">
    
        <nav  mat-tab-nav-bar>
            <a  mat-tab-link
                (click)= "goComics()">{{conteudoComics}}
            </a>
            <a  mat-tab-link
                (click)= "  goEvents()">{{conteudoEvents}}
            </a>
            <a mat-tab-link
                (click)="goPersonagens()">{{conteudoPersonagens}}
            </a>
            <a mat-tab-link
            (click)="goSeries()">{{conteudoSeries}}
            </a>
            <a mat-tab-link
                (click)="goCadastroQuadrinhos()">{{conteudoCadastroQuadrinhos}}
            </a>
            <a mat-tab-link
            (click)="goMeusQuadrinhos()">{{conteudoMeusQuadrinhos}}
        </a>
        </nav>

</div>
<router-outlet></router-outlet>


