<div class="container bg">
    <div class="headerPages">
        <h1>Events</h1>
        <img src="../assets/img/events.jpg">
        <h2>Lista dos Melhores Events</h2>
    </div><!--headerPages-->
        <div class="postAjustes row  justify-content-md-center">
        <div  class="custonFor col "*ngFor="let eveent of events$ | async" [class.selected]="eveent.id === selectedId">
              <div class="containerPost col-sm">
                   <div class="thumbPost ">
                        <a [routerLink]="['/eveent', eveent.id]">
                            <img class="img-thumbnail" src={{eveent.thumbnail.path}}.{{eveent.thumbnail.extension}}>
                        </a>
                   </div><!--thumbPost-->
                  <div class="conteudoPost"> 
                    <div class="titlePostPages">            
                            <a [routerLink]="['/eveent', eveent.id]">
                                 <h1>{{ eveent.title }}</h1>
                            </a>   
                    </div>                
                    <p>{{eveent.description}}</p>

                  </div><!--conteudoPost-->  
               </div><!--containerPost-->
               </div><!--NGFOR-->
            </div><!--postAjustes-->
</div>