<div class="container bg">
    <div *ngIf="serie$ | async as serie" class="descricao">
          <div class="headerPages">
                  <h1><a  (click)="goSeries(serie)">{{ serie.title }}</a></h1>
                  <img src="../assets/img/series.jpg">
          </div><!--headerPages-->
          <div class="containerPostDetalhes d-flex">
                  <div class="thumbConteudoPost">
                        <img class="img-thumbnail" src={{serie.thumbnail.path}}.{{serie.thumbnail.extension}}>
                  </div>
                  <div class="conteudoPostDetalhes">
                        <h1>{{ serie.title }}</h1>
                        <div class="d-flex  justify-content-between">
                        <h3>{{serie.variantDescription}}</h3> 
                        Total de Paginas: {{serie.pageCount}}
                        </div>
                    <hr/>
                    {{serie.description}}
                 
                    <button class="button-text" (click)="goSeries(serie)">Voltar para á página anterior</button>
                  </div>
                  
            </div>
    </div><!--ngIf-->
</div><!--container bg-->