<div class="container bg">

    <div class="headerCadastro">
        <h1>Cadastrar Novo Quadrinho</h1>
        <img src="../assets/img/cadastrarQuadrinhos.jpg">
    </div>

    <div class="cadastro">
        <!--action="/pagina-processa-dados-do-form" method="post"-->
        <form>

            <div>
                <label for="nome" >Nome do Quadrinho</label>
                <input type="text" id="nome" placeholder="Nome do Quadrinho"/>
            </div>
            <div>
                <label for="nome" >Nome do Quadrinho</label>
                <input type="text" id="nome" placeholder="Nome do Quadrinho"/>
            </div>
            <h3>Tipo de quadrinho</h3>
            <mat-form-field appearance="fill">
                <mat-label>Favorite food</mat-label>
                <mat-select>
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            <button mat-flat-button color="warn">Warn</button>

        </form>

    </div>
</div>


