<div class="container bg">
    <div class="headerPages">
        <h1>Comics</h1>
        <img src="../assets/img/comics.jpg">
        <h2>Lista das Melhores Comics</h2>
    </div><!--headerPages-->

        <div  class="custonFor "*ngFor="let comic of comics$ | async" [class.selected]="comic.id === selectedId">
              <div class="containerPost col">
                   <div class="thumbPost ">
                        <a [routerLink]="['/comic', comic.id]">
                            <img class="img-thumbnail" src={{comic.thumbnail.path}}.{{comic.thumbnail.extension}}>
                        </a>
                   </div><!--thumbPost-->
                  <div class="conteudoPost">                    
                    <a [routerLink]="['/comic', comic.id]">
                    <h1>{{ comic.title }}</h1>
                    </a>
            
                    {{comic.description}}
                    {{comic.modified}}
                  </div><!--conteudoPost-->  
               </div><!--containerPost-->
               </div><!--NGFOR-->
</div>